<h1>PROJET CERTIFICATION : Consumptions</h1>

In [1]:
# J'importe les librairies
import pandas as pd
import numpy as np

<h2>I- importation des données suite script EnedisData</h2>

In [2]:
df_consumptions = pd.read_csv('C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/CertificationData/fournisseur/ConsoEnedis_df_1002.csv')
df_consumptions.head()

             date_hour  consumption_hour
0  2019-02-10 00:00:00                68
1  2019-02-10 01:00:00               127
2  2019-02-10 02:00:00                50
3  2019-02-10 03:00:00               214
4  2019-02-10 04:00:00               119

In [3]:
# Je change le nom de la colonne "date_hour" en "timeslot" et 'consumption_hour' en 'consumption'
df_consumptions.rename(columns={"date_hour":"timeslot", "consumption_hour":"consumption"}, inplace=True)

In [4]:
# Ajout de la colonne 'utilisateur_id'
df_consumptions['user_id'] = '116'

In [5]:
# Je vérifie un extrait du dataframe
df_consumptions.head()

              timeslot  consumption user_id
0  2019-02-10 00:00:00           68     116
1  2019-02-10 01:00:00          127     116
2  2019-02-10 02:00:00           50     116
3  2019-02-10 03:00:00          214     116
4  2019-02-10 04:00:00          119     116

In [6]:
# Ajout de la colonne 'carbon_footprint'
df_consumptions['carbon_footprint'] = np.nan

In [7]:
df_consumptions.head()

              timeslot  consumption user_id  carbon_footprint
0  2019-02-10 00:00:00           68     116               NaN
1  2019-02-10 01:00:00          127     116               NaN
2  2019-02-10 02:00:00           50     116               NaN
3  2019-02-10 03:00:00          214     116               NaN
4  2019-02-10 04:00:00          119     116               NaN

In [8]:
# Je change l'ordre des colonnes:
df_consumptions = df_consumptions[['timeslot','user_id','consumption','carbon_footprint']]

In [9]:
#'2019-02-10T00:00:00'

# J'applique une REGEX afin que SQL reconnaisse par la suite le format DATETIME

df_consumptions.timeslot = df_consumptions.timeslot.str.replace(' ', 'T', regex = True)

In [10]:
# Je vérifie
df_consumptions.tail()

                 timeslot user_id  consumption  carbon_footprint
3690  2019-07-15T19:00:00     116          134               NaN
3691  2019-07-15T20:00:00     116          310               NaN
3692  2019-07-15T21:00:00     116         2266               NaN
3693  2019-07-15T22:00:00     116         1514               NaN
3694  2019-07-15T23:00:00     116          760               NaN

In [11]:
df_consumptions.to_csv('C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/CertificationData/consumptions.csv', na_rep='NULL', index=False)