<h1>Projet certification : Script nettoyage MaConso</h1>

In [1]:
import os
import pandas as pd

**Méthodologie**
<ul>
    <li>Ouvrir le csv MaConsoDraft</li>
    <li>Supprimer tous les doublons de la colonne 'date_hour'</li>
    <li>Nettoyer la colonne 'consumption_hour' afin d'avoir un FLOAT(4,3) c'est-à-dire une précision de 3 après la virgule</li>
    <li>Changer le type de la colonne 'date_hour' en datetime</li>
    <li>Exporter dans un  csv</li>
</ul>

<h2>1) Importation des données</h2>

In [2]:
# Je crée un dataframe et j'ouvre le CSV que j'ai récupéré via le site de mon fournisseur
MaConsoDraft = pd.read_csv('C:/Users/x/Documents/Projet simplon/Certification Data/Code/fournisseur/MaConsoDraft.csv', sep = ',')

In [3]:
# Je vérifie un extrait du dataframe
MaConsoDraft.head()

             date_hour    consumption_hour
0  2019-06-25 00:00:00               1.431
1  2019-06-25 01:00:00  1.4209999999999998
2  2019-06-25 02:00:00  1.2189999999999999
3  2019-06-25 03:00:00               0.135
4  2019-06-25 04:00:00               0.131

<h2>2) Suppression des doublons</h2>

In [4]:
# Je vérifie le nombre de colonnes
MaConsoDraft.count()

date_hour           553
consumption_hour    553
dtype: int64

In [5]:
# Je calcule le nombre de doublons
MaConsoDraft.duplicated().sum()

192

In [6]:
# Je crée un nouveau dataframe MaConso auquel j'insère l'ancien dataframe MaConsoDraft sans les doublons
MaConsoDraft2 = MaConsoDraft.drop_duplicates()

In [7]:
# Je vérifie un extrait du nouveau dataframe
MaConsoDraft2.head()

             date_hour    consumption_hour
0  2019-06-25 00:00:00               1.431
1  2019-06-25 01:00:00  1.4209999999999998
2  2019-06-25 02:00:00  1.2189999999999999
3  2019-06-25 03:00:00               0.135
4  2019-06-25 04:00:00               0.131

<h2>3) Nettoyage colonnes 'consumption_hour'</h2>

In [8]:
# Je vérifie le type des colonnes du dataframe
MaConsoDraft2.dtypes

date_hour           object
consumption_hour    object
dtype: object

In [9]:
# Je vérifie un extrait de mon dataframe
MaConsoDraft.head()

             date_hour    consumption_hour
0  2019-06-25 00:00:00               1.431
1  2019-06-25 01:00:00  1.4209999999999998
2  2019-06-25 02:00:00  1.2189999999999999
3  2019-06-25 03:00:00               0.135
4  2019-06-25 04:00:00               0.131

In [10]:
# Je transforme la colonne en float
pd.to_numeric(MaConsoDraft['consumption_hour'] , errors='coerce')

0      1.431
1      1.421
2      1.219
3      0.135
4      0.131
5      0.131
6      0.130
7      0.091
8      0.455
9      0.839
10     0.130
11     0.130
12     0.128
13     0.127
14     0.049
15     0.070
16     0.132
17     0.131
18     0.129
19     0.130
20     0.133
21     0.131
22     0.095
23     0.031
24     0.129
25     0.154
26     0.144
27     0.138
28     0.133
29     0.131
       ...
523    0.060
524    0.491
525    0.526
526    1.002
527    1.706
528    0.487
529    0.146
530    0.139
531    0.135
532    0.326
533    0.130
534    0.129
535    0.129
536    0.129
537    0.460
538    1.311
539    1.516
540    0.259
541    0.096
542    0.130
543    0.128
544    0.127
545    0.124
546    0.030
547    0.088
548    0.130
549    0.514
550    0.299
551    0.128
552    0.127
Name: consumption_hour, Length: 553, dtype: float64

In [11]:
# Je modifie la colonne 'consumption_hour' selon le code ci-dessus
MaConsoDraft['consumption_hour'] = pd.to_numeric(MaConsoDraft['consumption_hour'] , errors='coerce')

In [12]:
# Je vérifie un extrait du dataframe
MaConsoDraft.head()

             date_hour  consumption_hour
0  2019-06-25 00:00:00             1.431
1  2019-06-25 01:00:00             1.421
2  2019-06-25 02:00:00             1.219
3  2019-06-25 03:00:00             0.135
4  2019-06-25 04:00:00             0.131

In [13]:
# Je vérifie le type des colonnes du dataframe
MaConsoDraft.dtypes

date_hour            object
consumption_hour    float64
dtype: object

In [14]:
# draft Je cherche s'il y a à présent des NaN dans le df
MaConsoDraft.isna().sum()

date_hour           0
consumption_hour    1
dtype: int64

*Il y a une valeur manquante dans mon dataframe. Je souhaite le remplacer par la valeur 0.*

In [15]:
# Je crée une nouveau dataframe MaConsoDraft2 dans lequel je remplace les valeurs manquantes par 0
MaConsoDraft2 = MaConsoDraft.fillna(0)

In [16]:
# Je vérifie qu'il n'y a plus de valeurs manquantes dans ce nouveau dataframe
MaConsoDraft2.isna().sum()

date_hour           0
consumption_hour    0
dtype: int64

<h2>4) Modifier le type de 'date_hour'</h2>

In [17]:
MaConsoDraft['date_hour'] = pd.to_datetime(MaConsoDraft['date_hour'] , errors='coerce')

In [18]:
# Je vérifie les types de colonnes du dataframe
MaConsoDraft.dtypes

date_hour           datetime64[ns]
consumption_hour           float64
dtype: object

<h2>5) Exporter dans un fichier MaConso.csv</h2>

In [19]:
# J'exporte dans un csv
MaConsoDraft.to_csv('C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/CertificationData/fournisseur/MaConso.csv', index = False)